[submodule "external/minlzma"]
	path = external/minlzma
	url = https://github.com/ionescu007/minlzma.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/hidapi"]
	path = external/hidapi
	url = https://github.com/libusb/hidapi.git
